{% extends 'form_div_layout.html.twig' %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}{% if required %} <span class="required">*</span>{% endif %}</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block image_widget %}
<input class="image-upload" type="file" {{ block('widget_attributes') }}>

<div class="image-preview {{ image_size }}">
  {% if image and image.filename %}
    <img src="{{ vich_uploader_asset(image, 'file') }}">
  {% else %}
    <img>
  {% endif %}
</div>

<script type="text/javascript">
  $(function() {
    var $upload = $('.image-upload');
    var $preview = $('.image-preview');
    $upload.change(function(e) {
      var files = FileAPI.getFiles(e);
      if (files && files[0]) {
        FileAPI.readAsImage(files[0], function(evt) {
          if (evt.type == 'load') {
            $preview.find('img').replaceWith(evt.result);
          }
        });
      }
    });
  });
</script>
{% endblock %}
