{% extends is_ajax() ? '::ajax.html.twig' : 'AdstacyAppBundle:User:show.html.twig' %}

{% block site_body_class %}site-body-no-bg{% endblock %}

{% block show_content %}
  <div class="adstacy-container">
    {% include 'AdstacyAppBundle:User:user_profile.html.twig' %}
    {% if paginator.getCurrentPageResults|length > 0 %}
      <div class="users clearfix">
        <h2>
          {% if route == 'adstacy_app_user_followers' %}
            Followers
          {% elseif route == 'adstacy_app_user_followings' %}
            Followings
          {% endif %}
        </h2>
        <div class="jscroll">
          {{ block('ajax_content') }}
        </div>
      </div>
    {% else %}
      <div class="message-box">
        {% if route == 'adstacy_app_user_followers' %}
          {% if app.user and app.user == user %}
            <div class="lead">{{"user.no_followers.self_message"|trans}}</div>
          {% else %}
            <div class="lead">{{"user.no_followers.message"|trans({'%username%': user.username})}}</div>
          {% endif %}
        {% elseif route == 'adstacy_app_user_followings' %}
          {% if app.user and app.user == user %}
            <div class="lead">{{"user.no_followings.self_message"|trans}}</div>
          {% else %}
            <div class="lead">{{"user.no_followings.message"|trans({'%username%': user.username})}}</div>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block ajax_content %}
  {% for following in paginator.getCurrentPageResults %}
    {% include 'AdstacyAppBundle:User:user.html.twig' with {user: following} %}
  {% endfor %}
  {% if paginator.hasNextPage %}
    {% set params = app.request.query.all|merge({username: user.username, page: paginator.getNextPage}) %}
    <a href="{{ path(route, params )}}" class="load-next next-page">{{ "more"|trans }}</a>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.jscroll').jscroll(Adstacy.options.jscrollUser);
    });
  </script>
{% endblock %}
