{% extends is_ajax() ? '::ajax.html.twig' : 'AdstacyAppBundle:User:show.html.twig' %}

{% block show_content %}
  <div class="jscroll adstacy-container">
    {% include 'AdstacyAppBundle:User:user_profile.html.twig' %}
    {% if paginator.getCurrentPageResults|length > 0 %}
        {{ block('ajax_content') }}
    {% else %}
      <div class="message-box">
        {% if route == 'adstacy_app_user_followers' %}
          {% if app.user and app.user == user %}
            <div class="lead">{{"user.no_followers.self_message"|trans}}</div>
          {% else %}
            <div class="lead">{{"user.no_followers.message"|trans({'%username%': user.username})}}</div>
          {% endif %}
        {% elseif route == 'adstacy_app_user_followings' %}
          {% if app.user and app.user == user %}
            <div class="lead">{{"user.no_followings.message"|trans({'%username%': user.username})}}</div>
          {% else %}
            <div class="lead">{{"user.no_followings.message"|trans({'%username%': user.username})}}</div>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block ajax_content %}
  <div class="users">
    <h2>
      {% if route == 'adstacy_app_user_followers' %}
        Followers
      {% elseif route == 'adstacy_app_user_followings' %}
        Followings
      {% endif %}
    </h2>
    {% for following in paginator.getCurrentPageResults %}
      {% include 'AdstacyAppBundle:User:user.html.twig' with {user: following} %}
    {% endfor %}
  </div>
  {% if paginator.hasNextPage %}
    {% set params = app.request.query.all|merge({username: user.username, page: paginator.getNextPage}) %}
    <a href="{{ path(route, params )}}" class="btn btn-default btn-lg btn-block load-next next-page">More</a>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.user-thumb').ajaxlink('follow_user');
      $('.jscroll').jscroll({
        callback: function(a, b) {
          var $users = $('.jscroll-added:last .user');
          $('.masonry').masonry('appended', $users);
          $users.find('img.lazy').lazyload();
          $users.ajaxlink('users');
        }
      });
    });
  </script>
{% endblock %}
