{% extends is_ajax() ? '::ajax.html.twig' : 'AdstacyAppBundle:User:show.html.twig' %}

{% block site_body_class %}site-body-no-bg{% endblock %}

{% block show_content %}
  {% include 'AdstacyAppBundle:User:user_profile.html.twig' %}

  {% if ads|length > 0 %}
    <div class="jscroll">
      {{ block('ajax_content') }}
    </div>
  {% else %}
    <div class="text-center">
      {% if app.user and app.user == user %}
        <h1>{{ "ads.no_ads.self_message"|trans }}</h1>
        <p class="lead">{{ "ads.no_ads.help"|trans }}</p>
        <a href="{{ path('adstacy_app_ad_create') }}" class="btn btn-success btn-lg" title="{{ "ads.create"|trans }}">{{ "ads.create"|trans }}<i class="icon icon-plus"></i></a>
      {% else %}
        <h1>{{ "ads.no_ads.message"|trans({'%username%': user.username}) }}</h1>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block ajax_content %}
  {% set id = null %}
  {% for ad in ads %}
    {% set id = ad.id %}
    {% include 'AdstacyAppBundle:Ad:ad.html.twig' with {ad: ad, user: user, promotedBy: true} %}
  {% endfor %}
  {% if ads|length >= max_ads_per_page %}
    {% set params = app.request.query.all|merge({username: user.username, id: id}) %}
    <a href="{{ path(route, params )}}" class="btn btn-lg btn-default btn-block load-next next-page">{{"more"|trans}}</a>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('#user-profile').ajaxlink('follow_single');
      $('.jscroll').jscroll(Adstacy.options.jscrollAd);
    });
  </script>
{% endblock %}
