<div id="user-profile" class="panel panel-default">
  <div class="media">
    <div class="pull-left">
      <img src="{{ profile_pic(user) }}" class="media-object" width="120" height="120">
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="{{ path('adstacy_app_user_profile', {username: user.username}) }}">{{ user.realname }}</a>
        <small>@{{ user.username }}</small>
      </h4>
      <div>
        {% if user.about %}
          {{ parse_url(parse_hashtag(user.about)) }}
        {% else %}
          <i>
            No Description About User.
            {% if app.user and app.user == user %}
              Go to <a href="{{ path('fos_user_profile_edit') }}">Settings</a> to write.
            {% endif %}
          </i>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="user-action clearfix">
    <a class="score first" href="{{ path('adstacy_app_user_ads', {username: user.username}) }}"><strong>{{ adsCount }}</strong> ADS</a>
    <a class="score" href="{{ path('adstacy_app_user_promotes', {username: user.username}) }}"><strong>{{ promotesCount }}</strong> BROADCASTS</a>
    <a class="score" href="{{ path('adstacy_app_user_followers', {username: user.username}) }}"><strong>{{ followersCount }}</strong> FOLLOWERS</a>
    <a class="score last" href="{{ path('adstacy_app_user_followings', {username: user.username}) }}"><strong>{{ followingsCount }}</strong> FOLLOWINGS</a>
    {% if app.user and app.user != user %}
      {% set followed = app.user.hasFollowUser(user) %}
      <button data-username="{{ user.username }}" class="btn btn-follow btn-primary follow-user {% if followed %}hide{% endif %}">Follow</button>
      <button data-username="{{ user.username }}" class="btn btn-follow btn-success unfollow-user {% if not followed %}hide{% endif %}">Following</button>
    {% endif %}
  </div>
</div>
