<div class="user user-card media">
  <div class="pull-left">
    <img src="{{ profile_pic(user) }}" width="48" height="48" class="media-object">
  </div>
  <div class="media-body">
    <div class="pull-right">
      {% if app.user and user != app.user %}
        {% include 'AdstacyAppBundle:User:follow_button.html.twig' with {user: user} %}
      {% endif %}
    </div>
    <div class="media-heading">
      <a href="{{ path('adstacy_app_user_profile', {username: user.username}) }}" class="name">
        <span class="realname">{{ user.realname }}</span>
        <span class="username">@{{ user.username }}</span>
      </a>
      <div class="user-detail">
        <a href="{{ path('adstacy_app_user_followers', {username: user.username}) }}">
          <span class="user-followers-count">{{ user.followersCount }}</span> Followers
        </a>
        <a href="{{ path('adstacy_app_user_ads', {username: user.username}) }}">{{ user.adsCount }} Ads</a>
      </div>
    </div>
    <p class="user-desc">{{ parse_url(parse_hashtag(more(user.about|striptags, 100))) }}</p>
  </div>
</div>
