<div class="panel panel-default user">
  <div class="clearfix">
    <h5 class="user-realname text-overflow"><a href="{{ path('adstacy_app_user_profile', {username: user.username}) }}">{{ user.realname }}</a></h5>
    <div class="profile-picture"><img src="{{ profile_pic(user) }}" /></div>
    <div class="user-ads">
      {% set ads = user.ads|slice(4) %}
      {% for i in 0..3 %}
        <div class="user-mini-ad">
          {% if ads[i] is defined %}
            {% set ad = ads[i] %}
            <a href="{{ path('adstacy_app_ad_show', {id: ad.id}) }}">
              <img src="{{ vich_uploader_asset(ad, 'image')|imagine_filter('mini_thumb') }}" width="47" height="50">
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="user-score">
    <a href="{{ path('adstacy_app_user_followers', {username: user.username}) }}"><span class="user-followers-count">{{ user.followersCount }}</span> Followers</a> &nbsp; &nbsp;
    <a href="{{ path('adstacy_app_user_ads', {username: user.username}) }}">{{ user.adsCount }} Ads</a>
  </div>

  {% set loggedInUser = app.user %}
  {% if loggedInUser %}
    {% if user == loggedInUser %}
      <a href="{{ path('adstacy_app_user_profile', {username: user.username}) }}" class="btn btn-success btn-block follow-user">View Profile</a>
    {% else %}
      {% include 'AdstacyAppBundle:User:follow_button.html.twig' with {user: user} %}
    {% endif %}
  {% else %}
    <a href="{{ path('adstacy_app_user_follow', {username: user.username}) }}" class="btn btn-primary btn-block">Follow</a>
  {% endif %}

</div>
