{% trans_default_domain 'FOSUserBundle' %}

<form role="form" action="{{ path("fos_user_security_check") }}" method="post">
  <div class="clearfix">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
    <input type="hidden" name="_target_path" value="{{ app.request.uri}}">

    <label for="username" class="hide">{{ 'security.login.username'|trans }}</label>
    <input type="text" class="form-control input-sm" id="username" name="_username" required="required" placeholder="Username">

    <label for="password" class="hide">{{ 'security.login.password'|trans }}</label>
    <input type="password" class="form-control input-sm" id="password" name="_password" required="required" placeholder="Password">

    <div class="h-stack">
      <div class="stack-item w7">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on">
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
      </div>
      <div class="stack-item w3">
        <input type="submit" class="btn btn-primary btn-sm pull-right" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">
      </div>
    </div>
  </div>
</form>
