{% extends 'AdstacyAppBundle:Search:search.html.twig' %}

{% block search_content %}
  {% if paginator.getCurrentPageResults|length > 0 and app.request.query.get('q') != '' %}
    <div class="masonry jscroll">
      {{ block('ajax_content') }}
    </div>
  {% else %}
    <div class="jumbotron text-center">
      <h1>{{"search.no_result.message"|trans}}</h1>
      <p class="lead">{{"search.no_result.help"|trans}}</p>
    </div>
  {% endif %}
{% endblock %}

{% block ajax_content %}
  {% for ad in paginator.getCurrentPageResults %}
    {% include 'AdstacyAppBundle:Ad:ad.html.twig' with {ad: ad} %}
  {% endfor %}
  {% if paginator.hasNextPage %}
    {% set params = app.request.query.all|merge({page: paginator.getNextPage}) %}
    <a href="{{ path('adstacy_app_search', params )}}" class="btn btn-default btn-lg btn-block next-page">{{"more"|trans}}</a>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.jscroll').jscroll({
        nextSelector: 'a.next-page',
        callback: function(a, b) {
          var $ads = $('.jscroll-added:last .advert');
          $('.masonry').masonry('appended', $ads);
          $ads.find('img.lazy').lazyload();
          $ads.ajaxlink('ads');
        }
      });
    });
  </script>
{% endblock %}
