{% extends 'AdstacyAppBundle:Search:search.html.twig' %}

{% block search_content %}
  {% if paginator.getCurrentPageResults|length > 0 and app.request.query.get('q') != '' %}
    <div class="jscroll">
      {{ block('ajax_content') }}
    </div>
  {% else %}
    <div class="jumbotron text-center">
      <h1>{{"search.no_result.message"|trans}}</h1>
      <p class="lead">{{"search.no_result.help"|trans}}</p>
    </div>
  {% endif %}
{% endblock %}

{% block ajax_content %}
  <div class="users">
    {% for user in paginator.getCurrentPageResults %}
      {% include 'AdstacyAppBundle:User:user.html.twig' with {user: user} %}
    {% endfor %}
  </div>
  {% if paginator.hasNextPage %}
    {% set params = app.request.query.all|merge({page: paginator.getNextPage}) %}
    <a href="{{ path('adstacy_app_search', params )}}" class="btn btn-default btn-lg btn-block load-next next-page">More</a>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.jscroll').jscroll({
        callback: function() {
          var $users = $('.jscroll-added:last .user');
          $users.find('img.lazy').lazyload();
          $users.ajaxlink('users');
        }
      });
    });
  </script>
{% endblock %}
