{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyuser/less/settings.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <div class="settings-container create-wall-container panel panel-default">
    <section class="settings-section">
      {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}

        <input type="submit" class="btn btn-primary btn-block" value="Save" />
      {{ form_end(form) }}
    </section>
  </div>
{% endblock %}
