{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block title %}{{ wall.name }} | Adstacy{% endblock %}

{% block meta_keywords %}{{ wall.tags|join(',') }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyuser/less/settings.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block content %}
  {% set user = app.user %}
  <div class="masonry-container">
    <div class="show-wall-container adstacy-container panel panel-default clearfix">
      <div class="pull-left">
        <h2 class="wall-name">{{ wall.name }} {% include 'AdstacyAppBundle:Wall:follow_button.html.twig' with {wall: wall} %}</h2>
        <h3 class="description">{{ parse_hashtag(wall.description) }}</h3>
      </div>
      <div class="pull-right">
        <div class="score-count">
          <p class="label">Followers</p>
          <p class="value followers-count">{{ wall.followersCount }}</p>
        </div>
        <div class="score-count">
          <p class="label">Ads</p>
          <p class="value">{{ wall.adsCount }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry">
  {% for ad in wall.ads %}
    {% include 'AdstacyAppBundle:Includes:ad.html.twig' with {ad: ad} %}
  {% endfor %}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $('.show-wall-container').ajaxlink({
      countSelector: '.followers-count',
      jsonField: 'followers_count',
      firstSelector: 'a.follow-wall',
      secondSelector: 'a.unfollow-wall'
    });
  </script>
{% endblock %}
