{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/contact.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block form_row %}
  <div class="form-group">
    {{ form_label(form, label, {label_attr: {class: 'control-label'} }) }}
    <div class="control-widget">
      {{ form_widget(form, {attr: {class: 'form-control'} }) }}
      {{ form_errors(form, {attr: {class: 'alert alert-danger'} }) }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="contactus-container" class="panel panel-default">
    <div class="panel-heading">
      <h1>
        <span aria-hidden="true" class="icon-envelope-alt"></span>
        Contact Us
      </h1>
    </div>

    {{ form_start(form, {attr: {class: 'form-horizontal panel-body', role: 'form'} }) }}
      {{ form_errors(form) }}

      {{ form_row(form.subject) }}
      {{ form_row(form.email) }}
      {{ form_row(form.content) }}

      <div class="form-group">
        <div class="control-widget offset-control-label">
          {{ form_widget(form.submit, {attr: {class: 'btn btn-primary'} }) }}
        </div>
      </div>

    {{ form_end(form) }}
  </div>
{% endblock %}
