{% extends '::base_single_column.html.twig' %}

{% form_theme form _self %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/contact.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block form_row %}
  <div class="form-group">
    {{ form_label(form, label, {label_attr: {class: 'pull-left'} }) }}
    <div class="form-widget">
      {{ form_widget(form, {attr: {class: 'form-control'} }) }}
      {{ form_errors(form, {attr: {class: 'alert alert-danger'} }) }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="contactus-container" class="panel panel-default column">
    <div class="panel-heading">
      <h1 class="label-group"><i class="icon icon-mail"></i><span class="text">Contact Us</span></h1>
    </div>

    {{ form_start(form, {attr: {class: 'panel-body', role: 'form'} }) }}
      {{ form_errors(form) }}

      {{ form_row(form.subject) }}
      {{ form_row(form.email) }}
      {{ form_row(form.content) }}

      <div class="form-group">
        <div class="form-widget offset-label">
          {{ form_widget(form.submit, {attr: {class: 'btn btn-primary'} }) }}
        </div>
      </div>
    {{ form_end(form) }}
  </div>
{% endblock %}
