{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block header %}
  {% include '::header.html.twig' with {register: false}  %}
{% endblock %}

{% block form_row %}
  <div class="form-group">
    {{ form_label(form, null, { label_attr: { class: 'hide' } }) }}
    {{ form_widget(form, { attr: { class: 'form-control' } }) }}
    {{ form_errors(form, { attr: { class: 'alert alert-danger' } }) }}
  </div>
{% endblock %}

{% block content %}
  <style>
    body {
      padding-top: 50px;
      margin-bottom: 0;
    }
  </style>
  <div id="main-title" class="jumbotron clearfix">
    <div class="main-container">
      <h1 class="text-center">{{"landing.welcome"|trans}}</h1>
      <div id="form-register-container" class="panel panel-default">
        <div class="panel-heading">
          {% for owner in hwi_oauth_resource_owners() %}
            <a class="btn btn-block btn-{{ owner }}" href="{{ hwi_oauth_login_url(owner) }}">Signup with {{ owner|trans({}, 'HWIOAuthBundle') }}</a>
          {% endfor %}
        </div>
        {{ form_start(form, {attr: {class: 'panel-body', role: 'form'} }) }}
          {{ form_errors(form) }}

          {{ form_row(form.email) }}
          {{ form_row(form.username) }}
          {{ form_row(form.realName) }}
          {{ form_row(form.plainPassword) }}
          <p class="h6">{{ "form_registration.agreement"|trans({'%terms_url%': path('adstacy_app_page_show', {key: 'terms'}),
            '%privacy_url%': path('adstacy_app_page_show', {key: 'privacy-policy'}) })|raw }}</p>
          {{ form_widget(form.register, {attr: {class: 'btn btn-primary btn-block'} }) }}

        {{ form_end(form) }}
      </div>
    </div>
  </div>

  <div id="main-feature" class="main-container">
    <!-- inline-block -->
    <section class="main-section">
      <div class="main-pic">
        <span class="icon-ads"></span>
      </div>
      <div class="main-content">
        <h1>Easy</h1>
        <p class="lead">Just with a picture and short description, your ad is ready to go</p>
      </div>
    </section><section class="main-section">
      <div class="main-pic">
        <span class="icon-bullhorn"></span>
      </div>
      <div class="main-content">
        <h1>Social &amp; Fun</h1>
        <p class="lead">Promote any ads you like to share it to your followers</p>
      </div>
    </section><section class="main-section">
      <div class="main-pic">
        <span class="icon-hash"></span>
      </div>
      <div class="main-content">
        <h1>Search</h1>
        <p class="lead">Find any products, events, jobs, vacancies and many more stuffs</p>
      </div>
    </section><section class="main-section">
      <div class="main-pic">
        <span class="icon-search"></span>
      </div>
      <div class="main-content">
        <h1>Hashtag</h1>
        <p class="lead">Creatively describe your ad with hashtag to reach your potensial market</p>
      </div>
    </section><section class="main-section">
      <div class="main-pic">
        <span class="icon-hash"></span>
      </div>
      <div class="main-content">
        <h1>Free</h1>
        <p class="lead">Pay Nothing to promote your ad with us</p>
      </div>
    </section><section class="main-section">
      <div class="main-pic">
        <span class="icon-search"></span>
      </div>
      <div class="main-content">
        <h1>Fast</h1>
        <p class="lead">Fast as you want</p>
      </div>
    </section>
    <!-- end inline-block -->
  </div>

  <script>
    (function($) {
      // set equal height for inline-block element
      $.fn.setHeight = function() {
        return this.height(Math.max.apply(this, $.map(this, function(e) { return $(e).height(); })));
      };
    })(jQuery);

    var $mainSection = $('.main-section');
    $(function() {
      $mainSection.setHeight();
    });
  </script>
{% endblock %}
