{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block form_row %}
  <div class="form-group">
    {{ form_label(form, null, { label_attr: { class: 'hide' } }) }}
    {{ form_widget(form, { attr: { class: 'form-control' } }) }}
    {{ form_errors(form, { attr: { class: 'alert alert-danger' } }) }}
  </div>
{% endblock %}

{% block content %}
  <style>
    body {
      margin-bottom: 0;
    }
  </style>
  <section class="jumbotron clearfix">
    <div class="main-container">
      <h1 class="text-center">Welcome to Adstacy</h1>
    </div>
    <div class="panel panel-default" style="width: 300px; float: right; margin-top: 100px;">
      {{ form_start(form, {attr: {class: 'panel-body', role: 'form'} }) }}
        {{ form_errors(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        {{ form_row(form.realName) }}
        {{ form_row(form.plainPassword) }}
        <p class="h6">{{ "form_registration.agreement"|trans({'%terms_url%': path('adstacy_app_page_show', {key: 'terms'}),
          '%privacy_url%': path('adstacy_app_page_show', {key: 'privacy-policy'}) })|raw }}</p>
        {{ form_widget(form.register, {attr: {class: 'btn btn-primary btn-block'} }) }}

      {{ form_end(form) }}
    </div>
  </section>
  <section class="main-section red clearfix">
    <div class="main-container">
      <div class="main-pic">
        <img src="{{ asset('bundles/adstacyapp/img/ads.png') }}">
      </div>
      <div class="main-content">
        <h1>Hemat. Cepat. Tepat.</h1>
        <p class="lead">
          Iklan dikonsumsi dan dipromosikan oleh konsumen sendiri. Semakin besar
          komunitas anda, semakin cepat dan besar pasar Anda, dan Gratis.
        </p>
      </div>
    </div>
  </section>
  <section class="main-section green clearfix">
    <div class="main-container">
      <div class="main-pic">
        <img src="{{ asset('bundles/adstacyapp/img/hash.png') }}">
      </div>
      <div class="main-content">
        <h1>Memanfaatkan Hashtag.</h1>
        <p class="lead">
          Untuk menjelaskan isi lengkap dari iklan, misalnya jenis iklan, lokasi,
          merek, dan lainnya.
        </p>
      </div>
    </div>
  </section>
  <section class="main-section blue clearfix">
    <div class="main-container">
      <div class="main-pic">
        <img src="{{ asset('bundles/adstacyapp/img/bullhorn.png') }}">
      </div>
      <div class="main-content">
        <h1>Cara Baru Menikmati Iklan.</h1>
        <p class="lead">
          Kini anda mampu beriklan dengan lebih menyenangkan dengan mempromosikan
          lewat jaringan sosial.
        </p>
      </div>
    </div>
  </section>
  <section class="main-section yellow clearfix">
    <div class="main-container">
      <div class="main-pic">
        <img src="{{ asset('bundles/adstacyapp/img/search.png') }}">
      </div>
      <div class="main-content">
        <h1>Temukan Apapun Kebutuhan Anda.</h1>
        <p class="lead">
          Banyaknya jenis iklan, seperti promosi, jual beli, event, hingga lowongan
          pekerjaan membuat Adstacy sebagai satu-satunya pusat media pencarian yang terlengkap.
        </p>
      </div>
    </div>
  </section>
  <section class="main-section purple clearfix">
    <div class="main-container">
      <div class="main-pic">
        <img src="{{ asset('bundles/adstacyapp/img/share.png') }}">
      </div>
      <div class="main-content">
        <h1>Bagi dan Sebarkan Iklan Anda.</h1>
        <p class="lead">
          Sosialkan iklan anda kepada teman-teman anda dan bangunlah komunitas anda
          di Adstacy.
        </p>
      </div>
    </div>
  </section>

{% endblock %}
