{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/landing.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block header %}
  {% include '::header.html.twig' with {register: false, include_extra_nav: false}  %}
{% endblock %}

{% block form_row %}
  <div class="form-group">
    {{ form_label(form, null, { label_attr: { class: 'hide' } }) }}
    {{ form_widget(form, { attr: { class: 'form-control' } }) }}
    {{ form_errors(form, { attr: { class: 'alert alert-danger' } }) }}
  </div>
{% endblock %}

{% block body %}
  <div id="landing">
    <div id="landing-title" class="jumbotron">
      <div class="wrapper">
        <div id="landing-heading">
          <h1>{{ "landing.welcome"|trans }}</h1>
          <h2>{{ "landing.desc"|trans }}</h2>
          <a href="{{ path('adstacy_app_explore') }}" title="explore" class="btn btn-success btn-lg">{{ "landing.explore"|trans }}</a>
        </div>
        <div class="clearfix">
          <div id="landing-screenshot">
            <img src="{{ asset('bundles/adstacyapp/img/screenshot.png') }}" alt="Adstacy" />
          </div>
          <div id="register-form" class="panel panel-default">
            <div class="panel-heading">
              {% for owner in hwi_oauth_resource_owners() %}
                <a class="btn btn-block btn-{{ owner }}" href="{{ hwi_oauth_login_url(owner) }}">{{"login.with"|trans}} {{ owner|trans({}, 'HWIOAuthBundle') }}</a>
              {% endfor %}
            </div>
            <form action="{{ path('fos_user_registration_register') }}" class="panel-body" method="post" >
              {{ form_errors(form) }}

              {{ form_row(form.email) }}
              {{ form_row(form.username) }}
              {{ form_row(form.realName) }}
              {{ form_row(form.plainPassword) }}
              <p class="h6">{{ "form_registration.agreement"|trans({'%terms_url%': path('adstacy_app_page_show', {key: 'terms'}),
                '%privacy_url%': path('adstacy_app_page_show', {key: 'privacy-policy'}) })|raw }}</p>
              {{ form_widget(form.register, {attr: {class: 'btn btn-primary btn-block'} }) }}

            {{ form_end(form) }}
          </div>
        </div>
      </div>
      <div id="landing-social" class="wrapper">
        <a href="https://www.facebook.com/adstacycom" class="btn btn-facebook btn-lg">
          <span class="icon-facebook"></span> Like us on Facebook
        </a>
        <a href="https://www.twitter.com/adstacycom" class="btn btn-twitter btn-lg">
          <span class="icon-twitter"></span> Follow us on Twitter
        </a>
      </div>
    </div>
  </div>
{% endblock %}
