{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/landing.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block header %}
  {% include '::header.html.twig' with {register: false}  %}
{% endblock %}

{% block form_row %}
  <div class="form-group">
    {{ form_label(form, null, { label_attr: { class: 'hide' } }) }}
    {{ form_widget(form, { attr: { class: 'form-control' } }) }}
    {{ form_errors(form, { attr: { class: 'alert alert-danger' } }) }}
  </div>
{% endblock %}

{% block content %}
  <div id="landing">
    <div id="landing-title" class="jumbotron">
      <div class="wrapper">
        <h1>{{"landing.welcome"|trans}}</h1>
        <div class="clearfix">
          <div id="landing-screenshot">
            <img src="{{ asset('bundles/adstacyapp/img/screenshot.png') }}" alt="Adstacy" />
          </div>
          <div id="register-form" class="panel panel-default">
            <div class="panel-heading">
              {% for owner in hwi_oauth_resource_owners() %}
                <a class="btn btn-block btn-{{ owner }}" href="{{ hwi_oauth_login_url(owner) }}">{{"register.with"|trans}} {{ owner|trans({}, 'HWIOAuthBundle') }}</a>
              {% endfor %}
            </div>
            <form action="{{ path('fos_user_registration_register') }}" class="panel-body" method="post" >
              {{ form_errors(form) }}

              {{ form_row(form.email) }}
              {{ form_row(form.username) }}
              {{ form_row(form.realName) }}
              {{ form_row(form.plainPassword) }}
              <p class="h6">{{ "form_registration.agreement"|trans({'%terms_url%': path('adstacy_app_page_show', {key: 'terms'}),
                '%privacy_url%': path('adstacy_app_page_show', {key: 'privacy-policy'}) })|raw }}</p>
              {{ form_widget(form.register, {attr: {class: 'btn btn-primary btn-block'} }) }}

            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>

    <div id="landing-features" class="wrapper">
      <div class="clearfix">
        <section class="section">
          <div class="section-figure">
            <i class="icon-ads"></i>
          </div>
          <h1 class="section-title">{{ "landing.features.easy.heading"|trans|raw }}</h1>
          <p class="lead">{{ "landing.features.easy.desc"|trans|raw }}</p>
        </section>
        <section class="section">
          <div class="section-figure">
            <i class="icon-hash"></i>
          </div>
          <h1 class="section-title">{{ "landing.features.hashtag.heading"|trans|raw }}</h1>
          <p class="lead">{{ "landing.features.hashtag.desc"|trans|raw }}</p>
        </section>
        <section class="section">
          <div class="section-figure">
            <i class="icon-search"></i>
          </div>
          <h1 class="section-title">{{ "landing.features.search.heading"|trans|raw }}</h1>
          <p class="lead">{{ "landing.features.search.desc"|trans|raw }}</p>
        </section>
      </div>
      <div class="clearfix">
        <section class="section">
          <div class="section-figure">
            <i class="icon-rocket"></i>
          </div>
          <h1 class="section-title">{{ "landing.features.trending.heading"|trans|raw }}</h1>
          <p class="lead">{{ "landing.features.trending.desc"|trans|raw }}</p>
        </section>
        <section class="section">
          <div class="section-figure">
            <i class="icon-home"></i>
          </div>
          <h1 class="section-title">{{ "landing.features.stream.heading"|trans|raw }}</h1>
          <p class="lead">{{ "landing.features.stream.desc"|trans|raw }}</p>
        </section>
        <section class="section">
          <div class="section-figure">
            <i class="icon-globe"></i>
          </div>
          <h1 class="section-title">{{ "landing.features.explore.heading"|trans|raw }}</h1>
          <p class="lead">{{ "landing.features.explore.desc"|trans|raw }}</p>
        </section>
      </div>
    </div>

    <div id="landing-social" class="wrapper">
      <a href="https://www.facebook.com/adstacycom" class="btn btn-facebook btn-lg">
        <span class="icon-facebook"></span> Like us on Facebook
      </a>
      <a href="https://www.twitter.com/adstacycom" class="btn btn-twitter btn-lg">
        <span class="icon-twitter"></span> Follow us on Twitter
      </a>
    </div>
  </div>
{% endblock %}
