{% extends is_ajax() ? '::ajax.html.twig' : 'AdstacyAppBundle::layout.html.twig' %}

{% block title %}Your Ads Stream | Adstacy{% endblock %}

{% block content %}
  {% if user.followingsCount <= 0 %}
    <div class="page-title jumbotron text-center">
      <h1>User to follows</h1>
    </div>
    <div class="adstacy-container">
      {{ block('ajax_content') }}
    </div>
  {% else %}
    <div class="page-title jumbotron text-center">
      <h1>{{"stream"|trans}}</h1>
    </div>
    <div class="masonry jscroll clearfix">
      {% include 'AdstacyAppBundle:App:feeds.html.twig' %}
      {{ block('ajax_content') }}
    </div>
  {% endif %}
{% endblock %}

{% block ajax_content %}
  {% if user.followingsCount <= 0 %}
    <div class="clearfix">
      {% for user in suggestionsPaginator.getCurrentPageResults %}
        {% include 'AdstacyAppBundle:User:user.html.twig' with {user: user} %}
      {% endfor %}
    </div>
    <div style="margin: 20px 7px 0;">
      <a href="{{ path('adstacy_app_explore') }}" class="btn btn-success btn-block">{{ "continue_to_explore"|trans }}</a>
    </div>
  {% else %}
    {% set id = null %}
    {% for ad in ads %}
      {% set id = ad.id %}
      {% include 'AdstacyAppBundle:Ad:ad.html.twig' with {ad: ad, promotedBy: true} %}
    {% endfor %}
    {% if ads|length >= max_ads_per_page %}
      <a href="{{ path('adstacy_app_stream', {id: id})}}" class="btn btn-default btn-lg btn-block load-next next-page">{{"more"|trans}}</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.jscroll').jscroll({
        callback: function() {
          var $ads = $('.jscroll-added:last .advert');
          $('.masonry').masonry('appended', $ads);
          $ads.find('img.lazy').lazyload();
          $ads.ajaxlink('ads');
        }
      });
    });
  </script>
{% endblock %}
