<li><a href="{{ path('adstacy_app_search', {q: 'kuliner'}) }}" title="Kuliner">Kuliner</a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'fashion'}) }}" title="Fashion">Fashion</a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'event'}) }}" title="Event">Event</a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'game'}) }}" title="Game">Game</a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'lowongan'}) }}" title="Lowongan">Lowongan</a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'carijodoh'}) }}" title="Cari Jodoh">Cari Jodoh</a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'movie'}) }}" title="Movie">Movie</a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'buku'}) }}" title="Buku">Buku</a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'diskon'}) }}" title="Diskon">Diskon</a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'gadget'}) }}" title="Gadget">Gadget</a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'medan'}) }}" title="Medan">Medan</a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'jakarta'}) }}" title="Jakarta">Jakarta</a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'indonesia'}) }}" title="Indonesia">Indonesia</a></li>
