<li><a href="{{ path('adstacy_app_search', {q: 'jual'}) }}" title="Jual">Jual <small>#jual</small></a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'beli'}) }}" title="Beli">Beli <small>#beli</small></a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'lowongankerja'}) }}" title="Lowongan Kerja">Lowongan Kerja <small>#lowongankerja</small></a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'promo'}) }}" title="Promo">Promo <small>#promo</small></a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'event'}) }}" title="Event">Event <small>#event</small></a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'blog'}) }}" title="Blog">Blog <small>#blog</small></a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'startup'}) }}" title="Startup">Startup <small>#startup</small></a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'website'}) }}" title="Website">Website <small>#website</small></a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'sale'}) }}" title="Sale">Sale <small>#sale</small></a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'cucigudang'}) }}" title="Cuci Gudang">Cuci Gudang <small>#cucigudang</small></a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'game'}) }}" title="Game">Game <small>#game</small></a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'gadget'}) }}" title="Gadget">Gadget <small>#gadget</small></a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'cemilan'}) }}" title="Cemilan">Cemilan <small>#cemilan</small></a></li>
<li><a href="{{ path('adstacy_app_search', {q: 'unik'}) }}" title="Unik">Unik <small>#unik</small></a></li>
