{% set tags = [] %}
{% if app.user %}
  {% set tags = app.user.favouriteTags %}
  {% for tag in app.user.favouriteTags %}
  <li data-tag="{{ tag }}">
    <a href="{{ path('adstacy_app_search', {q: tag}) }}" title="{{tag|title}}">{{tag|title}}</a>
    <button>&times;</button>
  </li>
  {% endfor %}
{% endif %}

{% set predefinedTags = ['kuliner', 'fashion', 'event', 'game', 'lowongan', 'carijodoh', 'movie', 'diskon', 'gadget', 'indonesia'] %}
{% for tag in predefinedTags|slice(0, 10 - tags|length) %}
<li><a href="{{ path('adstacy_app_search', {q: tag}) }}" title="{{tag|title}}">{{tag|title}}</a></li>
{% endfor %}
