{% extends is_ajax() ? '::ajax.html.twig' : 'AdstacyAppBundle::layout.html.twig' %}

{% block title %}All Tags| Adstacy{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/tags.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <div class="adstacy-container">
    <ul class="jscroll tags clearfix">
      {{ block('ajax_content') }}
    </ul>
  </div>
{% endblock %}

{% block ajax_content %}
  {% for tag in tags %}
    {% include 'AdstacyAppBundle:App:tag.html.twig' with {tag: tag} %}
  {% endfor %}
  {% if tags|length >= max_tags_per_page %}
    {% set params = app.request.query.all|merge({page: (app.request.query.get('page') ?: 1) + 1}) %}
    <a href="{{ path('adstacy_app_tags', params) }}" class="btn btn-default btn-lg btn-block load-next next-page">{{ "more"|trans }}</a>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.tags').find('button').click(Adstacy.events.tag_favourite);
      $('.jscroll').jscroll({
        callback: function() {
          var $tags = $('.jscroll-added:last button');
          $tags.click(Adstacy.events.tag_favourite);
        }
      });
    });
  </script>
{% endblock %}
