{% extends is_ajax() ? '::ajax.html.twig' : 'AdstacyAppBundle::layout.html.twig' %}

{% block site_body_class %}site-body-no-bg{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/who-to-follow.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <div id="who-to-follow" class="adstacy-container">
    <div class="toolbar clearfix">
      <a href="{{ path('adstacy_app_who_to_follow') }}" class="adstacy {% if source == 'adstacy' %}current{% endif %}" title="{{"find_friends"|trans}}">{{"find_friends"|trans}}</a>
      <a href="{{ path('adstacy_app_who_to_follow_facebook') }}" class="facebook {% if source == 'facebook' %}current{% endif %}" title="{{"find_friends"|trans}}">{{"find_friends_facebook"|trans}}</a>
      <a href="{{ path('adstacy_app_who_to_follow_twitter') }}" class="twitter {% if source == 'twitter' %}current{% endif %}" title="{{"find_friends_twitter"|trans}}">{{"find_friends_twitter"|trans}}</a>
    </div>
    <div class="jscroll users clearfix no-border">
      {{ block('ajax_content') }}
    </div>
  </div>
{% endblock %}

{% block ajax_content %}
  {% if users|length > 0 %}
    {% for user in users %}
      {% include 'AdstacyAppBundle:User:user.html.twig' with {user: user} %}
    {% endfor %}
    {% if source == 'adstacy' and  users|length >= max_who_to_follow %}
      {% set params = app.request.query.all|merge({page: (app.request.query.get('page') ?: 1) + 1}) %}
      <a href="{{ path('adstacy_app_who_to_follow', params) }}" class="load-next next-page">{{ "more"|trans }}</a>
    {% endif %}
  {% else %}
    <p class="big-center-text">{{"no_who_to_follow"|trans}}</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.jscroll').jscroll(Adstacy.options.jscrollUser);
    });
  </script>
{% endblock %}
