{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block content %}
  <a href="{{ path('adstacy_app_who_to_follow') }}" class="" title="{{"find_friends"|trans}}">{{"find_friends"|trans}}</a>
  <a href="{{ path('adstacy_app_who_to_follow_facebook') }}" class="" title="{{"find_friends"|trans}}">{{"find_friends_facebook"|trans}}</a>
  <a href="{{ path('adstacy_app_who_to_follow_twitter') }}" class="" title="{{"find_friends_twitter"|trans}}">{{"find_friends_twitter"|trans}}</a>
  {{ block('ajax_content') }}
{% endblock %}

{% block ajax_content %}
  <div class="users clearfix">
    {% for user in users %}
      {% include 'AdstacyAppBundle:User:user.html.twig' with {user: user} %}
    {% endfor %}
  </div>
{% endblock %}
