<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="Description" content="{{ block('title') }}">
    <meta name="Keywords" content="{% block meta_keywords %}iklan, promo, lowongan kerja, jual beli{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}Adstacy.com - Ads have never been so fun{% endblock %}</title>

    <link rel="icon shortcut" type="image/ico" href="{{ asset('favicon.ico') }}">

    {% block stylesheets %}
      {% stylesheets filter='cssrewrite, uglifycss'
        'bundles/adstacyapp/less/adstacy.less'
        'bundles/adstacyapp/css/ui.totop.css'
        'bundles/adstacyapp/css/font-awesome.css'
        'bundles/adstacyapp/css/social-buttons.css'
        'bundles/adstacyapp/css/brand.css'
      %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
      {% endstylesheets %}
    {% endblock %}

    {% block head_scripts %}
      {% if not app.debug %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.1/masonry.pkgd.min.js" type="text/javascript"></script>
      {% else %}
        {% javascripts filter='uglifyjs2'
          '@AdstacyAppBundle/Resources/public/js/jquery.min.js'
          '@AdstacyAppBundle/Resources/public/js/bootstrap.min.js'
          '@AdstacyAppBundle/Resources/public/js/masonry.pkgd.min.js'
        %}
          <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
      {% endif %}
      {% javascripts filter='uglifyjs2'
        '@AdstacyAppBundle/Resources/public/js/modernizr.min.js'
        '@AdstacyAppBundle/Resources/public/js/holder.js'
        '@AdstacyAppBundle/Resources/public/js/jquery.scrolltofixed.min.js'
        '@AdstacyAppBundle/Resources/public/js/easing.js'
        '@AdstacyAppBundle/Resources/public/js/jquery.ui.totop.min.js'
        '@AdstacyAppBundle/Resources/public/js/jquery.lazyload.min.js'
        '@AdstacyAppBundle/Resources/public/js/jquery.jscroll.js'
        '@AdstacyAppBundle/Resources/public/js/FileAPI.min.js'
        '@AdstacyAppBundle/Resources/public/js/module/ajaxlink.js'
        'bundles/fosjsrouting/js/router.js'
      %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
      {% endjavascripts %}
      <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}" type="text/javascript"></script>
    {% endblock %}
    {% if not app.debug %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-38929872-2', 'adstacy.com');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </head>
  <body>
    <div id="fb-root"></div>
    {% block facebook_scripts %}{% endblock %}
    {% block body %}
      <header id="main-header">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="adstacy-container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('homepage') }}">Adstacy</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                <li>
                  <button type="button" id="btn-navbar-expand" class="btn btn-default navbar-btn">
                    <span aria-hidden="true" class="icon-chevron-up icon-chevron-down"></span>
                  </button>
                </li>
              </ul>
              <form action="{{ path('adstacy_app_search') }}" class="navbar-form navbar-left" style="position: relative;" role="search">
                <input id="search" type="text" class="form-control" placeholder="Search" name="q" value="{{ app.request.query.get('q') }}" >
                <button type="submit" class="search-btn">
                  <span aria-hidden="true" data-icon="&#xe007;"></span>
                </button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                  <li>
                    <button id="create-ads" type="button" class="btn btn-primary navbar-btn">
                      <span aria-hidden="true" class="icon-plus"></span> Create Ads
                    </button>
                  </li>
                  <li id="user-dropdown" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('adstacy_app_user_profile', {username: app.user.username}) }}">Profile</a></li>
                      <li><a href="{{ path('fos_user_profile_edit') }}">Settings</a></li>
                      <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                  </li>
                {% else %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-container">
                      <li class="user-login">
                        {{ form_login() }}
                      </li>
                      <li class="social-login">
                        {% for owner in hwi_oauth_resource_owners() %}
                          <a class="btn btn-primary btn-block btn-{{ owner }}" href="{{ hwi_oauth_login_url(owner) }}">Login with {{ owner|trans({}, 'HWIOAuthBundle') }}</a>
                        {% endfor %}
                      </li>
                      <li>
                        <a href="{{ path('fos_user_registration_register') }}">Register new account</a>
                      </li>
                    </ul>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div id="navbar-expand-container" class="hide">
            <ul class="adstacy-container nav-expand">
              <li><a href="#">Komputer</a></li>
              <li><a href="#">Handphone</a></li>
              <li><a href="#">Kuliner</a></li>
              <li><a href="#">Pendidikan</a></li>
              <li><a href="#">Tempat Tinggal</a></li>
              <li><a href="#">Otomotif</a></li>
              <li><a href="#">Rumah Sakit</a></li>
              <li><a href="#">Tempat Wisata</a></li>
              <li><a href="#">Komputer</a></li>
              <li><a href="#">Handphone</a></li>
              <li><a href="#">Kuliner</a></li>
              <li><a href="#">Pendidikan</a></li>
              <li><a href="#">Tempat Tinggal</a></li>
              <li><a href="#">Otomotif</a></li>
              <li><a href="#">Rumah Sakit</a></li>
              <li><a href="#">Tempat Wisata</a></li>
              <li><a href="#">Komputer</a></li>
              <li><a href="#">Handphone</a></li>
              <li><a href="#">Kuliner</a></li>
              <li><a href="#">Pendidikan</a></li>
              <li><a href="#">Tempat Tinggal</a></li>
              <li><a href="#">Otomotif</a></li>
              <li><a href="#">Rumah Sakit</a></li>
              <li><a href="#">Tempat Wisata</a></li>
              <li><a href="#">Komputer</a></li>
              <li><a href="#">Handphone</a></li>
              <li><a href="#">Kuliner</a></li>
              <li><a href="#">Pendidikan</a></li>
              <li><a href="#">Tempat Tinggal</a></li>
              <li><a href="#">Otomotif</a></li>
              <li><a href="#">Rumah Sakit</a></li>
              <li><a href="#">Tempat Wisata</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="body clearfix">
        {% set allFlashes = app.session.flashbag.all() %}
        {% if allFlashes|length > 0 %}
          <div class="adstacy-container">
            {% for key, flashes in allFlashes %}
              {% for flash in flashes %}
                <div class="alert alert-{{ key }}">{{ flash }}</div>
              {% endfor %}
            {% endfor %}
          </div>
        {% endif %}

        {% block content %}{% endblock %}
      </div>
    {% endblock %}

    {% block javascripts %}
      {% javascripts filter='uglifyjs2'
        '@AdstacyAppBundle/Resources/public/js/app.js'
      %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
      {% endjavascripts %}
    {% endblock %}
  </body>
</html>
