<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="Description" content="{{ block('title') }}">
    <meta name="Keywords" content="{% block meta_keywords %}iklan, promo, lowongan kerja, jual beli{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}Ads.com - Ads have never been so fun{% endblock %}</title>

    <link rel="icon shortcut" type="image/ico" href="{{ asset('favicon.ico') }}">

    {% block stylesheets %}
      {% stylesheets filter='cssrewrite, uglifycss'
        'bundles/adsapp/less/ads.less'
        'bundles/adsapp/css/ui.totop.css'
        'bundles/adsapp/css/font-awesome.css'
        'bundles/adsapp/css/brand.css'
      %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
      {% endstylesheets %}
    {% endblock %}

    {% block head_scripts %}
      {% javascripts filter='uglifyjs2'
        '@AdsAppBundle/Resources/public/js/modernizr.min.js'
        '@AdsAppBundle/Resources/public/js/jquery.min.js'
        '@AdsAppBundle/Resources/public/js/holder.min.js'
        '@AdsAppBundle/Resources/public/js/bootstrap.min.js'
        '@AdsAppBundle/Resources/public/js/jquery.scrolltofixed.min.js'
        '@AdsAppBundle/Resources/public/js/easing.js'
        '@AdsAppBundle/Resources/public/js/jquery.ui.totop.min.js'
        '@AdsAppBundle/Resources/public/js/masonry.pkgd.min.js'
        '@AdsAppBundle/Resources/public/js/jquery.lazyload.min.js'
        'bundles/fosjsrouting/js/router.js'
      %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
      {% endjavascripts %}
      <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}" type="text/javascript"></script>
    {% endblock %}

  </head>
  <body>
    {% block body %}
      <header id="main-header">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div id="header-container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('homepage') }}">Brand</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <form action="{{ path('ads_app_search') }}" class="navbar-form navbar-left" style="position: relative;" role="search">
                <input id="search" type="text" class="form-control" placeholder="Search" name="q" value="{{ app.request.query.get('q') }}" >
                <button class="search-btn" type="submit">
                  <span aria-hidden="true" data-icon="&#xe007;"></span>
                </button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="body">
        {% for key, flashes in app.session.flashbag.all() %}
          {% for flash in flashes %}
            <div class="alert alert-{{ key }}">{{ flash }}</div>
          {% endfor %}
        {% endfor %}

        {% block content %}{% endblock %}
      </div>
    {% endblock %}

    {% block javascripts %}
      <script type="text/javascript">
        $('#posts').masonry({
          columnWidth: 250,
          isFitWidth: true,
          itemSelector: '.post'
        });

        $(document).ready(function() {
          /*
          var defaults = {
              containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
          };
          */
          $().UItoTop({ easingType: 'easeOutQuart' });
        });

        $("img.lazy").lazyload();
      </script>
    {% endblock %}
  </body>
</html>
