<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="Description" content="{{ block('title') }}">
    <meta name="Keywords" content="{% block meta_keywords %}iklan, promo, lowongan kerja, jual beli{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}Ads.com - Ads have never been so fun{% endblock %}</title>

    <link rel="icon shortcut" type="image/ico" href="{{ asset('favicon.ico') }}">

    {% block stylesheets %}
      {% stylesheets filter='cssrewrite, uglifycss'
        'bundles/adsapp/less/ads.less'
        'bundles/adsapp/css/font-awesome.css'
      %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
      {% endstylesheets %}
    {% endblock %}

    {% block head_scripts %}
      {% javascripts filter='uglifyjs2'
        '@AdsAppBundle/Resources/public/js/modernizr.min.js'
        '@AdsAppBundle/Resources/public/js/jquery.min.js'
        '@AdsAppBundle/Resources/public/js/holder.js'
        '@AdsAppBundle/Resources/public/js/bootstrap.min.js'
        '@AdsAppBundle/Resources/public/js/jquery.scrolltofixed.min.js'
        '@AdsAppBundle/Resources/public/js/masonry.pkgd.min.js'
        'bundles/fosjsrouting/js/router.js'
      %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
      {% endjavascripts %}
      <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}" type="text/javascript"></script>
    {% endblock %}

  </head>
  <body>
    {% block body %}
      <header id="main-header">
      </header>
      <div class="body">
        {% for key, flashes in app.session.flashbag.all() %}
          {% for flash in flashes %}
            <div class="alert alert-{{ key }}">{{ flash }}</div>
          {% endfor %}
        {% endfor %}

        {% block content %}{% endblock %}
      </div>
    {% endblock %}

    {% block javascripts %}
      <script type="text/javascript">
      $('#posts').masonry({
        columnWidth: 250,
        isFitWidth: true,
        itemSelector: '.post'
      });
      </script>
    {% endblock %}
  </body>
</html>
