<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="Description" content="{{ block('title') }}">
    <meta name="Keywords" content="{% block meta_keywords %}iklan, promo, lowongan kerja, jual beli{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}Adstacy.com - Ads have never been so fun{% endblock %}</title>

    <link rel="icon shortcut" type="image/ico" href="{{ asset('favicon.ico') }}">

    {% block stylesheets %}
      {% stylesheets filter='cssrewrite, uglifycss'
        'bundles/adstacyapp/less/adstacy.less'
        'bundles/adstacyapp/css/ui.totop.css'
        'bundles/adstacyapp/css/font-awesome.css'
        'bundles/adstacyapp/css/social-buttons.css'
        'bundles/adstacyapp/css/brand.css'
      %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
      {% endstylesheets %}
    {% endblock %}

    {% block head_scripts %}
      {% javascripts filter='uglifyjs2'
        '@AdstacyAppBundle/Resources/public/js/modernizr.min.js'
        '@AdstacyAppBundle/Resources/public/js/jquery.min.js'
        '@AdstacyAppBundle/Resources/public/js/holder.js'
        '@AdstacyAppBundle/Resources/public/js/bootstrap.min.js'
        '@AdstacyAppBundle/Resources/public/js/jquery.scrolltofixed.min.js'
        '@AdstacyAppBundle/Resources/public/js/easing.js'
        '@AdstacyAppBundle/Resources/public/js/jquery.ui.totop.min.js'
        '@AdstacyAppBundle/Resources/public/js/masonry.pkgd.min.js'
        '@AdstacyAppBundle/Resources/public/js/jquery.lazyload.min.js'
        '@AdstacyAppBundle/Resources/public/js/jquery.jscroll.js'
        'bundles/fosjsrouting/js/router.js'
      %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
      {% endjavascripts %}
      <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}" type="text/javascript"></script>
    {% endblock %}

  </head>
  <body>
    {% block body %}
      <header id="main-header">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div id="header-container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('homepage') }}">Brand</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <form action="{{ path('adstacy_app_search') }}" class="navbar-form navbar-left" style="position: relative;" role="search">
                <input id="search" type="text" class="form-control" placeholder="Search" name="q" value="{{ app.request.query.get('q') }}" >
                <button class="search-btn" type="submit">
                  <span aria-hidden="true" data-icon="&#xe007;"></span>
                </button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ path('fos_user_profile_edit') }}">Settings</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li>
                        {{ form_login() }}
                      </li>
                      {% for owner in hwi_oauth_resource_owners() %}
                      <li><a class="btn btn-primary btn-block btn-lg btn-{{ owner }}" href="{{ hwi_oauth_login_url(owner) }}">{{ owner|trans({}, 'HWIOAuthBundle') }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="body">
        {% for key, flashes in app.session.flashbag.all() %}
          {% for flash in flashes %}
            <div class="alert alert-{{ key }}">{{ flash }}</div>
          {% endfor %}
        {% endfor %}

        {% block content %}{% endblock %}
      </div>
    {% endblock %}

    {% block javascripts %}
      <script type="text/javascript">
        var $masonry = $('.masonry');
        var $headerContainer = $('#header-container');
        $masonry.masonry({
          columnWidth: 250,
          isFitWidth: true,
          isInitLayout: false,
          transitionDuration: 0,
          itemSelector: '.post'
        });
        $masonry.masonry('on', 'layoutComplete', function(msnryInstance) {
          $headerContainer.css('width', msnryInstance.cols * msnryInstance.columnWidth + 'px');
        });
        $masonry.masonry();

        $(document).ready(function() {
          /*
          var defaults = {
              containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
          };
          */
          $().UItoTop({ easingType: 'easeOutQuart' });
        });

        $("img.lazy").lazyload();
      </script>
    {% endblock %}
  </body>
</html>
