<header id="site-header" class="site-header navbar navbar-default navbar-fixed-top">
  <nav class="site-wrapper">
    <div class="navbar-header navbar-left">
      <a id="site-menu-toggle" href="#" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <i class="icon-bar"></i>
        <i class="icon-bar"></i>
        <i class="icon-bar"></i>
      </a>
      <a class="navbar-brand" href="{{ path('homepage') }}" title="Adstacy">Adstacy</a>
    </div>

    <div class="search-container">
      <form id="search-form" class="navbar-left" action="{{ path('adstacy_app_search') }}">
        <input id="search-box" type="text" class="form-control typeahead" placeholder="{{ "searchbox"|trans }}" name="q" value="{{ app.request.query.get('q') }}">
        <button id="btn-search" type="submit"><i class="icon icon-search"></i></button>
      </form>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a id="m-btn-search" title="Search"><i class="icon icon-search"></i></a></li>
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li><a href="{{ path('adstacy_app_ad_create') }}" id="create-advert-btn" title="{{ "ads.create"|trans }}"><i class="icon icon-plus"></i></a></li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <li>
            <a class="dropdown-toggle" id="notif-btn" title="Notification" data-toggle="dropdown" data-href="{{ path('adstacy_notification_readall') }}"><i class="icon icon-bell"></i></a>
            <span class="notif-count label label-danger">{{ app.user.notificationsCount }}</span>
            {{ render_top_notification(5) }}
          </li>
        {% endif %}
      {% else %}
        {% if register is not defined or (register is defined and register == true) %}
          <li><a id="register-link" href="{{ path('fos_user_registration_register') }}">{{ "register"|trans }}</a></li>
        {% endif %}

        <li><a id="mobile-login-link" href="{{ path('fos_user_security_login') }}">Login</a></li>
        <li id="login-express-dropdown" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ "login"|trans }}</a>
          <div id="login-express" class="dropdown-menu">
            <div class="dropdown-box-body">
              {{ form_login() }}

              {% for owner in hwi_oauth_resource_owners() %}
                <a class="btn btn-{{ owner }} btn-block btn-social" href="{{ hwi_oauth_login_url(owner) }}"><i class="icon icon-{{ owner }}"></i>{{"login.with"|trans}} {{ owner|trans({}, 'HWIOAuthBundle') }}</a>
              {% endfor %}
            </div>
            <div class="dropdown-box-footer">
              <a href="{{ path('fos_user_resetting_request') }}">{{ "forgot_password"|trans }}</a>
            </div>
          </div>
        </li>
      {% endif %}
    </ul>
  </nav>
</header>
