{% set class = ' lazy' %}
{% if lazy is defined and lazy == false %}
  {% set class = '' %}
{% endif %}

{% if text is not defined or text is null %}
  {% set text = 'Image' %}
{% endif %}

{% set _size = [220, 165] %}

{% if filter is defined and filter is not null %}
  {% if filter == 'promo_thumbnail' %}
    {% set _size = promo_thumbnail_size %}
  {% elseif filter == 'directory_thumbnail' %}
    {% set _size = directory_thumbnail_size %}
  {% elseif filter == 'promo_big_thumbnail' %}
    {% set _size = promo_big_thumbnail_size %}
  {% endif %}
{% endif %}

{% if size is defined and size is not null %}
  {% set _size = size %}
{% endif %}

{% set placeholder = asset('bundles/termedanapp/js/holder.js')~"/"~_size[0]~"x"~_size[1]~"/#fff:#333" %}
{% set loading = asset('bundles/termedanapp/img/loading.gif') %}

{% if image %}
  {% set src = vich_uploader_asset(image, 'file') %}

  {% if filter is defined and filter is not null %}
    {% set src = src|imagine_filter(filter) %}
  {% endif %}
{% endif %}

<div class="img-center" style="width: {{ _size[0] }}px; height: {{ _size[1]}}px;">
{% if image %}
  {% if lazy is defined and lazy == false %}
    <img class="{{ class }}" src="{{ src }}">
  {% else %}
    <img class="{{ class }}" data-original="{{ src }}" src="{{ loading }}">
  {% endif %}
{% else %}
  <img class="{{ class }}" src="{{ placeholder }}">
{% endif %}
</div>
