{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block content %}
  <div class="form-container panel panel-default" style="padding: 20px;">
    <h1>{{"form_registration.title"|trans}}</h1>
    {{ form_start(form) }}
      {% set submit = form_row(form.register) %}
      {{ form_rest(form) }}
      <p>{{"form_registration.agreement"|trans({'%terms_url%': path('adstacy_app_page_show', {key: 'terms'}), '%privacy_url%': path('adstacy_app_page_show', {key: 'privacy-policy'}) })|raw}}</p>
      {{ submit|raw }}
    {{ form_end(form) }}
  </div>
{% endblock %}
