{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/register.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block form_row %}
  <div class="form-group">
    {{ form_label(form, null, { label_attr: { class: 'hide' } }) }}
    {{ form_widget(form, { attr: { class: 'form-control input-lg' } }) }}
    {{ form_errors(form, { attr: { class: 'alert alert-danger' } }) }}
  </div>
{% endblock %}

{% block content %}
  <div id="register-container" class="panel panel-default">
    <div class="panel-heading">
      <h1>{{ "form_registration.title"|trans }}</h1>
    </div>

    <div class="panel-body">
      {% for owner in hwi_oauth_resource_owners() %}
        <a class="btn btn-block btn-lg btn-{{ owner }}" href="{{ hwi_oauth_login_url(owner) }}">Signup with {{ owner|trans({}, 'HWIOAuthBundle') }}</a>
      {% endfor %}
    </div>

    <hr>

    {{ form_start(form, {attr: {class: 'panel-body submit-disable', role: 'form'} }) }}
      {{ form_errors(form) }}

      {{ form_row(form.email) }}
      {{ form_row(form.username) }}
      {{ form_row(form.realName) }}
      {{ form_row(form.plainPassword) }}
      <p>{{ "form_registration.agreement"|trans({'%terms_url%': path('adstacy_app_page_show', {key: 'terms'}),
        '%privacy_url%': path('adstacy_app_page_show', {key: 'privacy-policy'}) })|raw }}</p>
      {{ form_widget(form.register, {
          attr: {
            'class': 'btn btn-primary btn-lg btn-block submit-disable-btn',
            'data-disable-text': "registering"|trans
          }
        })
      }}

    {{ form_end(form) }}
  </div>
{% endblock %}
