<div class="post">
  <div class="pic">
    <img src="{{ vich_uploader_asset(post.image, 'file') | imagine_filter('thumbnail') }}" width="{{ thumb_width }}" height="{{ post.thumbHeight }}" />
  </div>
  <div class="desc">
    <p>{{ parse_hashtag(post.description) }}</p>
    {{ post.promoteesCount }} promotes
  </div>
</div>
