{% extends '::base_single_column.html.twig' %}

{% form_theme form _self %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/settings.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block head_scripts %}
  {{ parent() }}
  {% javascripts filter='uglifyjs2'
    '@AdstacyAppBundle/Resources/public/js/FileAPI.min.js'
    '@AdstacyAppBundle/Resources/public/js/FileAPI.exif.js'
  %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
  {% endjavascripts %}
{% endblock %}

{% block form_row %}
  <div class="form-group">
    {{ form_label(form, label, {label_attr: {class: 'pull-left'} }) }}
    <div class="form-widget">
      {{ form_widget(form, {attr: {class: 'form-control'} }) }}
      {{ form_errors(form, {attr: {class: 'alert alert-danger'} }) }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="settings" class="adstacy-container">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Settings</h2></div>
      <div class="panel-body">
        {{ form_start(form, { attr: { class: 'submit-disable', role: 'form' } }) }}
          {{ form_errors(form) }}
          {% set user = form.vars.data %}

          {{ form_row(form.image) }}
          {{ form_row(form.username) }}

          <div class="form-group">
            <label class="pull-left">Password</label>
            <div class="form-text">
              <a href="{{ path('fos_user_change_password') }}">{{"form_profile.change_password"|trans}}</a>
            </div>
          </div>

          {{ form_row(form.email) }}
          {{ form_row(form.realName) }}
          {{ form_row(form.about) }}

          <div class="form-group">
            {{ form_label(form.subscription, label|default, { label_attr: { class: 'pull-left' } }) }}
            <div class="form-text">
              {{ form_widget(form.subscription, { attr: { class: '' } }) }}
              <span class="help">{{ "subscription_notice"|trans }}</span>
            </div>
          </div>

          <div class="form-group">
            <div class="form-widget offset-label">
              {{ form_widget(form.save, { attr: {
                    'class': 'form-control btn btn-primary submit-disable-btn',
                    'data-disable-text': "saving"|trans
                  }
                })
              }}
            </div>
          </div>

          <div class="form-group">
            <div class="form-text offset-label">
              <a href="{{ path('fos_user_resetting_request') }}">{{ "form_profile.forgot_password"|trans }}</a>
            </div>
          </div>

          {{ form_rest(form) }}
        {{ form_end(form) }}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h2>Facebook Connect</h2></div>
      <div class="panel-body">
        <div class="form-group">
          <label class="pull-left">Status</label>
          <div class="form-text">
            {% if user.facebookId %}
              {{ "form_profile.connected"|trans({'%name%': user.facebookRealName}) }}
            {% else %}
              {{ "form_profile.not_connected"|trans }}
            {% endif %}
          </div>
        </div>

        {% if not user.facebookId %}
          <div class="form-group">
            <div class="form-widget offset-label">
              <a class="btn btn-facebook btn-block" href="{{ path('hwi_oauth_service_redirect', {service: 'facebook'}) }}">{{ "form_profile.connect"|trans({'%service%': 'Facebook'}) }}</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h2>Twitter Connect</h2></div>
      <div class="panel-body">
        <div class="form-group">
          <label class="pull-left">Status</label>
          <div class="form-text">
            {% if user.twitterId %}
              {{ "form_profile.connected"|trans({'%name%': user.twitterRealName}) }}
            {% else %}
              {{ "form_profile.not_connected"|trans }}
            {% endif %}
          </div>
        </div>

        {% if not user.twitterId %}
          <div class="form-group">
            <div class="form-widget offset-label">
              <a class="btn btn-twitter btn-block" href="{{ path('hwi_oauth_service_redirect', {service: 'twitter'}) }}">{{ "form_profile.connect"|trans({'%service%': 'Twitter'}) }}</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}{% endblock %}
