{% set _comments = [] %}
{% if comments is defined %}
  {% set _comments = comments %}
{% else %}
  {% set _comments = ad.comments %}
{% endif %}
{% set commentsLength = _comments|length %}
{% set commentsLeft = ad.commentsCount - commentsLength %}
<div class="advert" data-username="{{ ad.user.username }}">
  <div class="advert-object limit">
    {% if ad.type == 'image' %}
      {% set width = ad.imageWidth %}
      {% if ad.imageWidth >= thumb_width %}
        {% set width = thumb_width %}
      {% endif %}
      {% set height = ad.imageHeight(width) %}
      <div class="advert-img">
        <img class="lazy {% if ad.imageWidth >= thumb_width %}full{% endif %}" src="{{ asset('bundles/adstacyapp/img/transparent.gif') }}"
          data-original="{{ vich_uploader_asset(ad, 'image') }}"
          width="{{ width }}" height="{{ height }}">
      </div>
    {% elseif ad.type == 'text' %}
      <div class="advert-text">
        <h3>{{ ad.title }}</h3>
        <p>{{ ad.description|raw }}</p>
        <div class="advert-tags">
          {% for tag in ad.tags %}
            <a href="{{ path('adstacy_app_search', {q: tag}) }}">#{{tag}}</a>
          {% endfor %}
        </div>
      </div>
    {% elseif ad.type == 'youtube' %}
      <div class="advert-video" data-youtube-id="{{ ad.youtubeId }}">
        <a href="#">
          <img class="lazy" src="{{ asset('bundles/adstacyapp/img/transparent.gif') }}"
            data-original="http://img.youtube.com/vi/{{ ad.youtubeId }}/0.jpg"
            width="{{ thumb_width }}" height="{{ thumb_width * (9/16) }}"
          >
        </a>
        <div class="yt-player"></div>
      </div>
    {% endif %}
  </div>

  <div class="advert-detail">
    <div class="advert-user media">
      {% set user = ad.user %}
      <div class="pull-left">
        <img class="media-object" src="{{ profile_pic(user) }}" alt="{{ user.username }}" width="32" height="32">
      </div>
      <div class="media-body">
        <a class="pull-left realname" href="{{ path('adstacy_app_user_profile', {username: user.username}) }}">{{ user.realName }} <span class="username">@{{ user.username }}</span></a>
        <time class="pull-right timeago" datetime="{{ ad.created|date('c') }}">{{ ad.created|date('F j, Y') }}</time>
      </div>
    </div>

    {% if ad.type != 'text' %}
      <p class="advert-desc">{{ parse_url(ad.description) }}</p>
      <div class="advert-tags">
        {% for tag in ad.tags %}
          <a href="{{ path('adstacy_app_search', {q: tag}) }}">#{{tag}}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="advert-action clearfix">
    {% set promoted = null %}
    {% if app.user %}
      <div class="btn-group pull-left">
        {% set promoted = app.user.hasPromote(ad) %}
        <a href="{{ path('adstacy_app_ad_promote', {id: ad.id}) }}" class="btn btn-default btn-promote promote {% if promoted %}hide{% endif %}" title="Broadcast">
          <i class="icon icon-bullhorn"></i><span class="text">broadcast</span>
        </a>
        <a href="{{ path('adstacy_app_ad_unpromote', {id: ad.id}) }}" class="btn btn-promote unpromote {% if not promoted %}hide{% endif %}" title="Broadcasted">
          <i class="icon icon-bullhorn"></i><span class="text">broadcasted</span>
        </a>
      </div>
    {% endif %}
    {% set lastPromotees = ad.getLastPromotees(3) %}
    {% set cntLastPromotees = lastPromotees|length %}
    {% set promoteesCount = ad.promoteesCount %}
    {% if cntLastPromotees > 0 %}
      <div class="advert-broadcasts pull-left text-overflow">
        {% for index, promotee in lastPromotees %}
          <a href="{{ path('adstacy_app_user_profile', {username: promotee}) }}">{{ promotee }}</a>{% if index != cntLastPromotees - 1 %}{% if promoteesCount > cntLastPromotees or (promoteesCount == cntLastPromotees and index != cntLastPromotees - 2) %},{% else %} and {% endif %}{% endif %}
        {% endfor %}
        <span>
        {% if promoteesCount > cntLastPromotees %}
          {{"ads.other_promotes"|trans({'%count%': promoteesCount - cntLastPromotees })|raw}}
        {% endif %}
        broadcast this
        </span>
      </div>
    {% endif %}
    <div class="btn-group pull-right">
      <a class="btn btn-default btn-share">
        <i class="icon icon-share"></i>
        <span>share</span>
      </a>
      <div class="btn-group">
        <a class="btn btn-default btn-option" data-toggle="dropdown">
          <i class="icon icon-ellipsis"></i>
          <span>more</span>
        </a>
        <ul class="dropdown-menu pull-right">
          {% if view is not defined or (view is defined and view == true) %}
          <li><a href="{{ path('adstacy_app_ad_show', {id: ad.id}) }}" class="label-group"><i class="icon icon-eye"></i><span class="text">{{"view"|trans}}</span></a></li>
          {% endif %}
          {% if app.user %}
            {% if app.user == ad.user %}
              <li>
                <a href="{{ path('adstacy_app_ad_edit', {id: ad.id}) }}" class="label-group">
                  <i class="icon icon-edit"></i><span class="text owner-action-label">{{ "edit"|trans }}</span>
                </a>
              </li>
              <li>
                <a href="{{ path('adstacy_app_ad_delete', {id: ad.id}) }}" class="label-group delete">
                  <i class="icon icon-delete"></i><span class="text owner-action-label">{{ "delete"|trans }}</span>
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ path('adstacy_app_ad_report', {id: ad.id}) }}" class="label-group report">
                  <i class="icon icon-flag"></i><span class="text">{{"report"|trans}}</span>
                </a>
              </li>
            {% endif %}
          {% endif %}
          {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% if ad.active %}
              <li><a href="{{ path('adstacy_admin_ad_block', {id: ad.id}) }}" class="label-group"><i class="icon icon-info"></i><span class="text">Block</span></a></li>
            {% else %}
              <li><a href="{{ path('adstacy_admin_ad_unblock', {id: ad.id}) }}" class="label-group"><i class="icon icon-info"></i><span class="text">Unblock</span></a></li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div class="advert-action-content">
    <div class="advert-share btn-group btn-group-justified">
      {% set adUrl = url('adstacy_app_ad_show', {id: ad.id}) %}
      {% set tags = ad.tags|join(',') %}
      {% set desc = '' %}
      {% if ad.type == 'text' %}
        {% set desc = ad.title %}
      {% else %}
        {% set desc = ad.description|striptags|slice(0, 160) %}
      {% endif %}
      {% set twitterUrl = "https://twitter.com/share?url=#{adUrl}&text=#{desc}&hashtags=#{tags}" %}
      {% set facebookUrl = "https://www.facebook.com/sharer/sharer.php?u=#{adUrl}" %}

      <input type="text" readonly="readonly" class="url" value="{{ url('adstacy_app_ad_show', {id: ad.id}) }}">
      <a href="{{ facebookUrl }}" class="btn btn-facebook btn-social facebook-share"><i class="icon icon-facebook"></i><span>share</span></a>
      <a href="{{ twitterUrl }}" class="btn btn-twitter btn-social tweet"><i class="icon icon-twitter twitter-share"></i><span>tweet</span></a>
    </div>
  </div>

  <div class="advert-comments-container">
    {% if commentsLeft > 0 %}
      {% set lastId = _comments[0].id %}
      <div class="load-more-comments">
        <a href="javascript:;" data-href="{{ path('adstacy_api_ad_comments', {id: ad.id, until: lastId}) }}">
          {{"comment.load_more"|trans({'%count%': commentsLeft})|raw}}
        </a>
      </div>
    {% endif %}

    <div class="advert-comments">
      {% for comment in _comments %}
        <div class="comment media" data-id="{{ comment.id }}">
          <div class="pull-left">
            <img src="{{ profile_pic(comment.user) }}" alt="" width="32" height="32" class="media-object">
          </div>
          <div class="media-body">
            <div class="media-heading">
              <a class="realname" href="{{ path('adstacy_app_user_profile', {username: comment.user.username}) }}">{{ comment.user.realName }}
                <span class="username">@{{ comment.user.userName }}</span>
              </a>
              &middot; <time class="timeago" datetime="{{ comment.created|date('c') }}">{{ comment.created|date('F j, Y') }}</time>
              {% if app.user and (app.user == comment.user or app.user == comment.user) %}
                <a href="javascript:;" data-href="{{ path('adstacy_app_ad_comment_delete', {id: comment.id}) }}" class="pull-right delete-comment">&times;</a>
              {% endif %}
            </div>
            <p>{{ comment.content }}</p>
          </div>
        </div>
      {% endfor %}

      {% if app.user %}
        <div class="comment">
          <div class="pull-left">
            <img src="{{ profile_pic(app.user) }}" alt="" width="32" height="32">
          </div>
          <div class="comment-body">
            <form action="{{ path('adstacy_app_ad_comment', {id: ad.id}) }}" method="post">
              <textarea name="comment[content]" required="required" class="comment-box" placeholder="{{"form_comment.placeholders.content"|trans}}"></textarea>
              <input type="submit" value="{{"comment"|trans}}" class="hide">
            </form>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

