<div class="ad">
  <div class="pic">
    <a href="{{ path('adstacy_app_ad_show', {id: ad.id}) }}">
    <img class="lazy" src="{{ asset('bundles/adstacyapp/img/transparent.gif') }}"
      data-original="{{ vich_uploader_asset(ad.image, 'file')|imagine_filter('thumbnail') }}"
      width="{{ thumb_width }}px" height="{{ ad.thumbHeight }}px" alt="{{ ad.description }}">
    </a>
  </div>
  <div class="ad-desc">
    <div>
      {% if app.user %}
        {% set promoted = app.user.hasPromote(ad) %}
        {% if promoted %}
          <a href="{{ path('adstacy_app_ad_promote', {id: ad.id}) }}" class="btn btn-success btn-promote btn-block">{{ ad.promoteesCount }} promotes &nbsp; <span aria-hidden="true" class="icon-bullhorn"></span></a>
        {% else %}
          <a href="{{ path('adstacy_app_ad_unpromote', {id: ad.id}) }}" class="btn btn-primary btn-promote btn-block">{{ ad.promoteesCount }} promotes &nbsp; <span aria-hidden="true" class="icon-bullhorn"></span></a>
        {% endif %}
      {% endif %}
    </div>
    <div class="desc">
      <p>{{ parse_url(parse_hashtag(ad.description)) }}</p>
    </div>
    <div class="ad-user clearfix border-top">
      {% include 'AdstacyAppBundle:User:user_mini.html.twig' with { user: ad.user, text: ago(ad.created) } %}
    </div>
  </div>
</div>
