{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/create_ad.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <div class="create-ad-container panel panel-default">
    <section class="panel-section clearfix">
      {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="image-area">
          {{ form_row(form.image) }}
        </div>

        <div class="meta-area">
          {{ form_row(form.description) }}

          <div id="create-ad-content">
          {{ form_row(form.content) }}
          </div>

          {{ form_widget(form.save, {attr: {class: 'form-control btn btn-primary'}}) }}

          {{ form_rest(form) }}
        </div>
      {{ form_end(form) }}

      {{ elfinder_tinymce_init4() }}
      {{ tinymce_init() }}
    </section>
  </div>
{% endblock %}
