{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/create_ad.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block head_scripts %}
  {{ parent() }}
  {% javascripts filter='uglifyjs2'
    '@AdstacyAppBundle/Resources/public/js/FileAPI.min.js'
  %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
  {% set data = form.vars.data %}
  <div class="panel panel-default" id="create-ad-container">
    <div class="panel-body clearfix">
      {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_label(form.image) }}
        <div class="image-area">
          <div class="input-group">
            <input type="text" class="form-control" />
            <span class="input-group-btn">
              <button class="btn btn-default btn-info" type="button"><span class="icon-plus-sign"></span> Add Picture</button>
            </span>
          </div>
          {{ form_widget(form.image) }}
        </div>

        <div class="meta-area">
          <div id="create-ad-desc">
            {{ form_row(form.description) }}
            <p>
              <span id="chars-left">{{ desc_length - (data.description|length) }}</span>
              characters left
            </p>
          </div>

          <a id="long-desc-trigger" href="#" class="btn btn-info btn-block">Click to add more Pictures and Descriptions</a>
          <div id="create-ad-content" {% if not data.content %}class="hide"{% endif %}>
            {{ form_row(form.content) }}
          </div>

          {{ form_widget(form.save, {attr: {class: 'form-control btn btn-primary'}}) }}

          {{ form_rest(form) }}
        </div>
      {{ form_end(form) }}

      {{ elfinder_tinymce_init4() }}
      {{ tinymce_init() }}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent()  }}
  <script type="text/javascript">
    $(function() {
      var $trigger = $('#long-desc-trigger');
      var $content = $('#create-ad-content');
      var $charsLeft = $('#chars-left');
      var $desc = $('#{{ form.description.vars.id }}');
      $trigger.click(function() {
        $content.toggleClass('hide');  
      });

      $('#create-ad-container').find('form').submit(function() {
        var $this = $(this);
        var $btn = $this.find('button[type=submit]');
        $btn.attr('disabled', 'disabled');
        $btn.html('<img src="/bundles/adstacyapp/img/spinner.gif" width="15" height="15"> Submitting...');
      });
      var checkCharsLeft = function() {
        var val = $desc.val();
        if (val.length > {{ desc_length}} ) {
          $desc.val(val.substring(0, {{ desc_length }} - 1));
          return false;
        }
        $charsLeft.text({{ desc_length }} - val.length);
      }
      $desc.keyup(checkCharsLeft);
      $desc.keypress(checkCharsLeft);
    });
  </script>
{% endblock %}
