{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/create_ad.less'
    'bundles/adstacyapp/less/bootstrap-tagsinput.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block content %}
  {% set data = form.vars.data %}
  <div id="create-advert" class="panel panel-default">
    <div class="panel-body clearfix">
      {{ form_start(form, {attr: {class: 'submit-disable'}}) }}
      {{ form_errors(form) }}
      {{ form_label(form.image) }}
      <div id="create-advert-image">
        {{ form_widget(form.image) }}
      </div>

      <div id="create-advert-desc">
        <div class="clearfix">
          {{ form_label(form.description) }}
          {{ form_widget(form.description) }}
          <div id="chars-left-box" data-desc-length="{{ desc_length }}">
            {{ "form_ad.characters_left"|trans({'%left%': desc_length - (data.description|length)})|raw }}
          </div>
        </div>
        <div class="clearfix">
          {{ form_label(form.tags) }}
          <div>
            {{ form_widget(form.tags) }}
          </div>
        </div>

        <button id="show-long-desc-btn" type="button" class="btn btn-info btn-block">{{"form_ad.content_trigger"|trans}}</button>
        <div id="create-advert-content" {% if not data.content %}class="hide"{% endif %}>
          {{ form_widget(form.content) }}
        </div>

        {{ form_widget(form.save, {
            attr: {
              'class': 'form-control btn btn-primary submit-disable-btn',
              'data-disable-text': "saving"|trans
            }
          })
        }}

        {{ form_rest(form) }}
        {{ form_end(form) }}

        {{ elfinder_tinymce_init4() }}
        {{ tinymce_init() }}
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent()  }}
  {% javascripts filter='uglifyjs2'
    '@AdstacyAppBundle/Resources/public/js/bootstrap-tagsinput.js'
    '@AdstacyAppBundle/Resources/public/js/page/create_ad.js'
  %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
  {% endjavascripts %}
{% endblock %}
