{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block content %}
  <div class="panel panel-default" id="create-ad-container">
    <div class="panel-body clearfix">
      {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="image-area">
          {{ form_row(form.image) }}
        </div>

        <div class="meta-area">
          {{ form_row(form.description) }}

          <div id="create-ad-content">
          {{ form_row(form.content) }}
          </div>

          {{ form_widget(form.save, {attr: {class: 'form-control btn btn-primary'}}) }}

          {{ form_rest(form) }}
        </div>
      {{ form_end(form) }}

      {{ elfinder_tinymce_init4() }}
      {{ tinymce_init() }}
    </div>
  </div>
{% endblock %}
