{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block content %}
  <div class="settings-container create-ad-container panel panel-default">
    <section class="settings-section clearfix">
      {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="image-area">
          {{ form_row(form.image) }}
        </div>

        <div class="meta-area">
          {{ form_row(form.description) }}

          {{ form_row(form.content) }}

          {{ form_widget(form.save, {attr: {class: 'form-control btn btn-primary'}}) }}

          {{ form_rest(form) }}
        </div>
      {{ form_end(form) }}

      {{ elfinder_tinymce_init4() }}
      {{ tinymce_init() }}
    </section>
  </div>
{% endblock %}
