{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/create_ad.less'
    'bundles/adstacyapp/less/bootstrap-tagsinput.less'
    'bundles/adstacyapp/less/module/wysihtml5.less'
    'bundles/adstacyapp/css/jquery.fileupload.css'
    'bundles/adstacyapp/css/jquery.fileupload-ui.css'
    'bundles/adstacyapp/css/jquery-ui.css'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block content %}
  {% set data = form.vars.data %}
  <div id="create-advert" class="panel panel-default">
    <div class="panel-body clearfix">
      {{ form_start(form, {attr: {class: 'submit-disable'}}) }}
      {{ form_errors(form) }}
      <div id="create-advert-image">
        <span class="btn btn-success fileinput-button">
          <span>Choose Image</span>
          {{ form_widget(form.image) }}
          {{ form_widget(form.imagename) }}
        </span>
      </div>
      <div id="progressbar">
      </div>
      <div class="image-preview medium">
        <img id="image-preview-img" {% if data.image %}src="{{ vich_uploader_asset(data, 'image') }}"{% endif %}>
      </div>

      <div id="create-advert-desc">
        {{ form_widget(form.description) }}
        {{ form_widget(form.tags) }}
        {{ form_widget(form.save, {
            attr: {
              'class': 'form-control btn btn-primary submit-disable-btn',
              'data-disable-text': "saving"|trans
            }
          })
        }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent()  }}
  {% javascripts filter='uglifyjs2'
    '@AdstacyAppBundle/Resources/public/js/bootstrap-tagsinput.js'
    '@AdstacyAppBundle/Resources/public/js/wysihtml5_parser_rules_advanced.js'
    '@AdstacyAppBundle/Resources/public/js/wysihtml5.js'
    '@AdstacyAppBundle/Resources/public/js/page/create_ad.js'
    '@AdstacyAppBundle/Resources/public/js/jquery-ui.js'
    '@AdstacyAppBundle/Resources/public/js/load-image.min.js'
    '@AdstacyAppBundle/Resources/public/js/canvas-to-blob.min.js'
    '@AdstacyAppBundle/Resources/public/js/jquery-fileupload/jquery.iframe-transport.js'
    '@AdstacyAppBundle/Resources/public/js/jquery-fileupload/jquery.fileupload.js'
    '@AdstacyAppBundle/Resources/public/js/jquery-fileupload/jquery.fileupload-process.js'
    '@AdstacyAppBundle/Resources/public/js/jquery-fileupload/jquery.fileupload-image.js'
  %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
  {% endjavascripts %}
{% endblock %}
