{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block title %}{% if ad.type == 'text' %}{{ ad.title }}{% else %}{% if ad.type == 'image' %}Image{% else %}Video{% endif %} ad by {{ ad.user.realName }}{% endif %}{%endblock %}

{% block meta_description %}{{ ad.description|striptags|slice(0, 150) }}{% endblock %}

{% block meta_keywords %}{{ ad.tags|join(',') }}{% endblock %}

{% block meta_image %}{% if ad.image %}{{ app.request.scheme~"://"~app.request.host~vich_uploader_asset(ad, 'image') }}{% endif %}
{% endblock %}

{% block site_body_class %}site-body-no-bg{% endblock %}

{% block content %}
  <div class="adstacy-container">
  {% if not ad.active %}
    <div class="alert alert-danger">{{"ads.blocked"|trans({'%url%': path('adstacy_app_page_show', {key: 'page'})})|raw }}</div>
  {% else %}
    {% include 'AdstacyAppBundle:Ad:ad.html.twig' with {ad: ad, comments: comments, view: false} %}
  {% endif %}
  </div>
{% endblock %}
