{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block title %}{{ ad.description }} | Adstacy{%endblock %}

{% block meta_keywords %}{{ ad.tags|join(',') }}{% endblock %}

{% block content %}
  {% set user = ad.user %}

  <div class="ad-detail-container container-margin">
    <div class="ad-detail-section toolbar clearfix">
      <div>
        {% include 'AdstacyAppBundle:User:user_mini.html.twig' with { user: ad.user, text: '2 minutes ago' } %}
      </div>
      <div class="pull-right">
        {% if app.user %}
          <div class="btn-group btn-group-sm">
            {% set promoted = app.user.hasPromote(ad) %}
            <a href="{{ path('adstacy_app_ad_unpromote', {id: ad.id}) }}" class="btn btn-primary btn-promote unpromote {% if not promoted %}hide{% endif %}"><span class="icon-bullhorn"></span> Unpromote</a>
            <a href="{{ path('adstacy_app_ad_promote', {id: ad.id}) }}" class="btn btn-primary btn-promote promote {% if promoted %}hide{% endif %}"><span class="icon-bullhorn"></span> Promote</a>
            <button type="button" class="btn btn-default promotes-count">{{ ad.promoteesCount }}</button>
          </div>
        {% else %}
          <a class="btn btn-default btn-sm">{{ ad.promoteesCount }} promotes</a>
        {% endif %}
        <a href="{{ app.request.uri }}" class="tweet btn btn-twitter btn-sm" data-via="adstacy" data-text="{{ ad.description }}" data-hashtags="{{ ad.tags|join(',') }}">
          <span aria-hidden="true" data-icon="&#xe002;"></span> Twitter
        </a>
        <a href="{{ app.request.uri }}" class="facebook-share btn btn-facebook btn-sm">
          <span aria-hidden="true" data-icon="&#xe003;"></span> Facebook
        </a>
        {% if app.user == user %}
          <span class="space"></span>
          <div class="btn-group btn-group-sm">
            <a href="{{ path('adstacy_app_ad_edit', {id: ad.id}) }}" class="btn btn-default">{{"edit"|trans}}</a>
            <a href="#" data-toggle="modal" data-target="#confirm-modal" class="btn btn-primary">{{"delete"|trans}}</a>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="ad-detail-section">
      <p>{{ parse_url(parse_hashtag(ad.description)) }}</p>
    </div>
    <div class="text-center">
      {% set src = vich_uploader_asset(ad.image, 'file') %}
      <img src="{{ src }}" alt="{{ ad.description }}">
    </div>


    {% if ad.content %}
      <div class="ad-detail-section">
        {{ ad.content|raw }}
      </div>
    {% endif %}
  </div>

  <div class="modal fade" id="confirm-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{"ads.delete.confirm_title"|trans}}</h4>
        </div>
        <div class="modal-body">
          <p>{{"ads.delete.confirm_message"|trans}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{"cancel"|trans}}</button>
          <a href="{{ path('adstacy_app_ad_delete', {id: ad.id}) }}" class="btn btn-primary">{{"ads.delete.button"|trans}}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.ad-detail-container').ajaxlink('promote_single');
    });
  </script>
{% endblock %}
