{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block title %}{{ ad.description }} | Adstacy{%endblock %}

{% block meta_keywords %}{{ ad.tags|join(',') }}{% endblock %}

{% block content %}
  {% set wall = ad.wall %}
  {% set user = wall.user %}

  <div class="adstacy-container ad-detail-container">
    <div class="table-row">
      <div class="table-cell ad-detail-pic centered">
        <div class="h-stack">
          <a class="centered stack-item btn-muted">{{ ad.promoteesCount }} promotes</a>
          <a href="/app_dev.php/ads/63/unpromote" data-toggle="tooltip" title="" class="stack-item centered btn-pad btn-success unpromote hide" data-original-title="Unpromote">
            <span aria-hidden="true" class="icon-bullhorn"></span> Unpromote
          </a>
          <a href="/app_dev.php/ads/63/promote" data-toggle="tooltip" title="" class="stack-item centered btn-pad btn-primary promote" data-original-title="Promote">
            <span aria-hidden="true" class="icon-bullhorn"></span> Promote
          </a>
          <a class="tweet stack-item centered btn-twitter btn-pad btn-muted" href="{{ app.request.uri }}" data-via="adstacy" data-text="{{ ad.description }}">
            <span aria-hidden="true" data-icon="&#xe002;"></span> Tweet
          </a>
          <a class="facebook-share stack-item centered btn-facebook btn-pad btn-muted" href="{{ app.request.uri }}">
            <span aria-hidden="true" data-icon="&#xe003;"></span> Share
          </a>
        </div>
        <img src="{{ vich_uploader_asset(ad.image, 'file') }}" alt="{{ ad.description }}">
      </div>
      <div class="table-cell" style="width: 250px;">
        <section class="ad-detail-section">
          <p>{{ parse_hashtag(ad.description) }}</p>
        </section>
        <section class="ad-detail-section">
          <div class="wall-container">
            <div class="wall-pic">
              <img data-src="holder.js/50x50">
            </div>
            <div class="wall-detail">
              <h3><a href="{{ path('adstacy_app_wall_show', {id: ad.wall.id}) }}">{{ ad.wall.name }}</a></h3>
              <h4><a href="#">{{ wall.user.username }}</a></h4>
            </div>
          </div>
          <div class="thumb-container">
            <div class="thumb"><img data-src="holder.js/110x110"></div>
            <div class="thumb"><img data-src="holder.js/110x110"></div>
            <div class="thumb"><img data-src="holder.js/110x110"></div>
            <div class="thumb"><img data-src="holder.js/110x110"></div>
          </div>
          {% include 'AdstacyAppBundle:Wall:follow_button.html.twig' with {wall: wall} %}
        </section>

        {% if app.user == user %}
          <section class="ad-detail-section list-section">
            <a href="{{ path('adstacy_app_ad_edit', {id: ad.id}) }}" class="btn btn-primary">Edit</a>
            <a href="#" data-toggle="modal" data-target="#confirm-modal" class="btn btn-primary btn-log">Delete</a>
          </section>
        {% endif %}


      </div>
    </div>
    <div class="ad-detail-content">
      {{ ad.content }}
    </div>
  </div>
  <div class="modal fade" id="confirm-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Delete Confirmation</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this ads?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a href="{{ path('adstacy_app_ad_delete', {id: ad.id}) }}" class="btn btn-primary">DELETE!</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.ad-single').ajaxlink('show_ad');
    });
  </script>
{% endblock %}
