{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block title %}{% if ad.type == 'text' %}{{ ad.title }}{% else %}{{ ad.description|striptags|slice(0, 150) }}{% endif %}{%endblock %}

{% block meta_description %}{{ ad.description|striptags|slice(0, 150) }}{% endblock %}

{% block meta_keywords %}{{ ad.tags|join(',') }}{% endblock %}

{% block meta_image %}{% if ad.image %}{{ app.request.scheme~"://"~app.request.host~vich_uploader_asset(ad, 'image') }}{% endif %}
{% endblock %}

{% block head_scripts %}
  {{ parent() }}
  {% javascripts filter='uglifyjs2'
    '@AdstacyAppBundle/Resources/public/js/jquery.scrolltofixed.min.js'
  %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
  {% if not ad.active %}
  <div class="adstacy-container">
    <div class="alert alert-danger">{{"ads.blocked"|trans({'%url%': path('adstacy_app_page_show', {key: 'page'})})|raw }}</div>
  </div>
  {% else %}
    {% include 'AdstacyAppBundle:Ad:ad.html.twig' with {ad: ad, comments: comments, view: false} %}
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts filter='uglifyjs2'
    '@AdstacyAppBundle/Resources/public/js/page/show_ad.js'
  %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
  {% endjavascripts %}
{% endblock %}
