{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/change_password.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <div id="change-password" class="panel panel-default">
    <div class="panel-heading"><h1>{{"form_password.title"|trans}}</h1></div>
    <div class="panel-body">
      {{ form_start(form, { attr: { class: 'form-horizontal', role: 'form' } }) }}
        {{ form_errors(form) }}
        <div class="form-group">
          {{ form_label(form.current_password, label|default(null), { label_attr: { class: 'control-label' } }) }}
          <div class="form-widget">
            {{ form_widget(form.current_password, { attr: { class: 'form-control' } }) }}
          </div>
        </div>

        <div class="form-group">
          {{ form_label(form.plainPassword.newPassword, label|default(null), { label_attr: { class: 'control-label' } }) }}
          <div class="form-widget">
            {{ form_widget(form.plainPassword.newPassword, { attr: { class: 'form-control' } }) }}
          </div>
        </div>

        <div class="form-group">
          {{ form_label(form.plainPassword.newPasswordConfirmation, label|default(null), { label_attr: { class: 'control-label' } }) }}
          <div class="form-widget">
            {{ form_widget(form.plainPassword.newPasswordConfirmation, { attr: { class: 'form-control' } }) }}
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="form-widget">
            {{ form_widget(form.save, { attr: { class: 'form-control btn btn-primary' } }) }}
          </div>
        </div>

        {{ form_rest(form) }}

      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
