{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyuser/less/layout.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <div class="form-container panel panel-default">
    <form class="form-horizontal" role="form" action="{{ path("fos_user_security_check") }}" method="post">
      <h1>Login</h1>

      <div class="social-login">
        {% for owner in hwi_oauth_resource_owners() %}
          <a class="btn btn-primary btn-block btn-lg btn-{{ owner }}" href="{{ hwi_oauth_login_url(owner) }}">{{ owner|trans({}, 'HWIOAuthBundle') }}</a>
        {% endfor %}
      </div>

      <div class="user-login clearfix">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

        <label for="username" class="hide">{{ 'security.login.username'|trans }}</label>
        <input type="text" class="form-control input-lg" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username">

        <label for="password" class="hide">{{ 'security.login.password'|trans }}</label>
        <input type="password" class="form-control input-lg" id="password" name="_password" required="required" placeholder="Password">

        <div class="clearfix">
          <input type="checkbox" id="remember_me" name="_remember_me" value="on">
          <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

          <input type="submit" class="btn btn-primary btn-lg pull-right" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">
        </div>
        {% if error %}
            <div class="alert alert-danger">{{ error|trans }}</div>
        {% endif %}
      </div>

      <div class="form-footer">
        <a href="#">Register new account</a>
      </div>
    </form>
  </div>
{% endblock %}
