{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyuser/less/layout.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <div class="form-container panel panel-default">
    <form class="form-horizontal" role="form" action="{{ path("fos_user_security_check") }}" method="post">
      <h1>Login</h1>

      <div class="ads-form-section">
        {% for owner in hwi_oauth_resource_owners() %}
          <a class="btn btn-block btn-lg btn-{{ owner }}" href="{{ hwi_oauth_login_url(owner) }}">login with {{ owner|trans({}, 'HWIOAuthBundle') }}</a>
        {% endfor %}
      </div>

      <div class="ads-form-section">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

        <label for="_username" class="hide">{{ 'security.login.username'|trans }}</label>
        <input type="text" class="form-control input-lg" id="_username" name="_username" value="{{ last_username }}" required="required" placeholder="Username">

        <label for="password" class="hide">{{ 'security.login.password'|trans }}</label>
        <input type="password" class="form-control input-lg" id="_password" name="_password" required="required" placeholder="Password">

        <div class="h-stack">
          <div class="stack-item w5">
            <input type="checkbox" id="_remember_me" name="_remember_me" value="on">
            <label for="_remember_me">{{ 'security.login.remember_me'|trans }}</label>
          </div>
          <div class="stack-item w5">
            <input type="submit" class="btn btn-primary btn-lg pull-right" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">
          </div>
        </div>

        {% if error %}
          <div class="alert alert-danger">{{ "security.login.failed"|trans }}</div>
        {% endif %}
      </div>

      <div class="ads-form-section">
        <div>
          <a href="{{ path('fos_user_registration_register') }}">Register new account</a>
        <div>
        <div>
          <a href="{{ path('fos_user_resetting_request') }}">Forgot password?</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
