<ul id="{{ id }}" class="{% if id == 'top-notifications' %}dropdown-menu{% else %}list-group{% endif %} notifications">
  {% for notification in notifications %}
    <li class="list-group-item clearfix">
      <img src="{{ profile_pic(notification.user) }}" class="notif-pic" />
      {{ notification.content|raw }}
      <time>{{ ago(notification.created) }}</time>
    </li>
  {% endfor %}

  {% if id == 'top-notifications' %}
    <li id="show-all-notifications" class="list-group-item"><a href="{{ path('adstacy_app_notifications') }}">Show All Notifications</a></li>
  {% endif %}
</ul>
