{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/reset.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% form_theme form _self %}

{% block form_row %}
  <div class="form-group">
    {{ form_label(form, label, {label_attr: {class: 'control-label'} }) }}
    <div class="control-widget">
      {{ form_widget(form, {attr: {class: 'form-control'} }) }}
    </div>
  </div>
{% endblock %}

{% block content %}
{% trans_default_domain 'FOSUserBundle' %}

<div id="reset-verification-container" class="panel panel-default">
  <div class="panel-heading">
    <h1>Reset Verification</h1>
  </div>

  <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset form-horizontal panel-body">
    {{ form_errors(form) }}
    {{ form_row(form.plainPassword) }}
    <div class="form-group">
      <div class="control-widget offset-control-label">
        <input class="btn btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans }}">
      </div>
    </div>
    {{ form_rest(form) }}
  </form>
</div>
{% endblock %}
