<div class="ad">
  <div class="pic">
    <a href="{{ path('adstacy_app_ad_show', {id: ad.id}) }}">
    <img class="lazy" src="{{ asset('bundles/adstacyapp/img/transparent.gif') }}"
      data-original="{{ vich_uploader_asset(ad.image, 'file')|imagine_filter('thumbnail') }}"
      width="{{ thumb_width }}px" height="{{ ad.thumbHeight }}px">
    </a>
  </div>
  <div class="desc">
    <p>{{ parse_hashtag(ad.description) }}</p>
    <div>
      <span><span class="promotes-count">{{ ad.promoteesCount }}</span> promotes</span>
      {% if app.user %}
        {% if app.user.hasPromote(ad) %}
          <a href="{{ path('adstacy_app_ad_unpromote', {id: ad.id}) }}" class="btn btn-primary unpromote">
            <span aria-hidden="true" class="icon-bullhorn"> Unpromote
          </a>
        {% else %}
          <a href="{{ path('adstacy_app_ad_promote', {id: ad.id}) }}" class="btn btn-default promote">
            <span aria-hidden="true" class="icon-bullhorn"> Promote
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
