<div class="ad">
  <div class="pic">
    <a href="{{ path('adstacy_app_ad_show', {id: ad.id}) }}">
    <img class="lazy" src="{{ asset('bundles/adstacyapp/img/transparent.gif') }}"
      data-original="{{ vich_uploader_asset(ad.image, 'file')|imagine_filter('thumbnail') }}"
      width="{{ thumb_width }}px" height="{{ ad.thumbHeight }}px" alt="{{ ad.description }}">
    </a>
  </div>
  <div class="ad-desc border-top">
    <div class="desc">
      <p>{{ parse_hashtag(ad.description) }}</p>
    </div>
    <div class="inline-block">
      <a class="border-top {% if app.user %}box-medium{% else %}box-large{% endif %} btn-muted"><span class="promotes-count">{{ ad.promoteesCount }}</span> promotes</a>
      {% if app.user %}
        {% if app.user.hasPromote(ad) %}
          <a href="{{ path('adstacy_app_ad_unpromote', {id: ad.id}) }}" title="unpromote" class="btn-success unpromote">
            <span aria-hidden="true" class="icon-bullhorn">
          </a>
        {% else %}
          <a href="{{ path('adstacy_app_ad_promote', {id: ad.id}) }}" title="promote" class="btn-primary promote">
            <span aria-hidden="true" class="icon-bullhorn">
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
