<div class="post">
  <div class="pic">
    <img class="lazy" src="{{ asset('bundles/adstacyapp/img/transparent.gif') }}"
      data-original="{{ vich_uploader_asset(post.image, 'file')|imagine_filter('thumbnail') }}"
      width="{{ thumb_width }}px" height="{{ post.thumbHeight }}px" alt="testing">
  </div>
  <div class="desc">
    <p>{{ parse_hashtag(post.description) }}</p>
    <div>
      <span><span class="promotes-count">{{ post.promoteesCount }}</span> promotes</span>
      {% if app.user and app.user.hasPromote(post) %}
        <a href="{{ path('adstacy_app_post_unpromote', {id: post.id}) }}" class="unpromote">Unpromote</a>
      {% else %}
        <a href="{{ path('adstacy_app_post_promote', {id: post.id}) }}" class="promote">Promote</a>
      {% endif %}
    </div>
  </div>
</div>
