<div class="post">
  <div class="pic">
    <img class="lazy" src="{{ asset('bundles/adstacyapp/img/transparent.gif') }}"
      data-original="{{ vich_uploader_asset(post.image, 'file')|imagine_filter('thumbnail') }}"
      width="{{ thumb_width }}px" height="{{ post.thumbHeight }}px" alt="testing">
  </div>
  <div class="desc">
    <p>{{ parse_hashtag(post.description) }}</p>
    {{ post.promoteesCount }} promotes
  </div>
</div>
